@font-face{
	font-family: CyrillicOldFace;
	font-display: swap;
	src: url("../fonts/CyrillicOldFace.woff2") format("woff2"), url("../fonts/CyrillicOldFace.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face{
	font-family: UnlimitedPie;
	font-display: swap;
	src: url("../fonts/UnlimitedPie.woff2") format("woff2"), url("../fonts/UnlimitedPie.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
