@import "fonts";
body{
    background-color: white;
    span{
        color: red;
        font-family: 'CyrillicOldFace';
        font-size: 42px;
    }
    background: url("@img/17478da42271207e1d86.webp") 0 0 no-repeat;
}

